@import '../../../assets/current_styles/global_variables.scss';

.faq {
  padding: calc(3vw + 1.5rem) 0;
  background-attachment: fixed;
  background-color: #f1f1f1; /* Фоновый цвет */
  background-image: url(../../../assets/Images/webp/curtain_151.webp);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto;
  overflow: auto;
  position: relative; /* Обязательно укажите позицию relative или absolute */
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%; /* Половина высоты .faq для каждой тени */
    z-index: 2;
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .container {
    .inner-container {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 55;
      height: auto;
      .faq-left {
        height: fit-content;
        margin-right: calc(1vw + .5rem);
        max-width: 40%;
        box-shadow: 0px -5px 20px black;
        padding: calc(1vw + 1rem) calc(0.9vw + 0.9rem);
        background: $color_bg-cards;  
        z-index: 1;
        pointer-events: none;
        border-radius: 10px;
        margin-bottom: calc(0.5vw + 0.5rem);
        @media (max-width: 1200px) {
          margin-right: 0;
        }
        .faq-left__title {
          @include large_font;
          text-transform: uppercase;
        }
        .faq-right__explanatory-text {
          color: white;
          @include text_style_p;
        }
      }
    }
    @media (max-width: 1200px) {
      .inner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .faq-left {
          max-width: 97%;
        }
        .accordion {
          max-width: 94%;
        }
      }
    }
  }

}
