@import "../../../../../../assets/current_styles/global_variables.scss";

.section_mid {
  .section_mid__title {
    margin: calc(2vw + 1rem) 0;
    text-wrap: balance;
    text-align: center;
    @include text_style_h2;
    color: $color_yellow;
  }
  @media (max-width: 1200px) {
    .section_mid__title {
      text-align: left;
    }
  }
  .section_mid__context {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    gap: calc(1vw + 1rem);
    flex-wrap: wrap;
    color: #fff;
    word-spacing: 2px;

	.section_mid__context-image_block {
		flex: 1 1 40%;
	  }

    .section_mid__context-text_block {
      flex: 1 1 50%;
      position: relative;
      overflow: hidden;
      padding: calc(1vw + 1rem);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(
          128,
          128,
          128,
          0.1
        ); /* Здесь можно установить цвет фона и прозрачность */
        backdrop-filter: blur(1px);
        z-index: 1;
        border-radius: calc(1vw + 0.5rem);
      }

      .section_mid__context-text_block-text {
        @include text_style_h5;
        margin-bottom: calc(1vw + 0.5rem);
        position: relative;
        z-index: 2;
        color: #fff;
        list-style-type: disc;
      }
    }

 
  }


  @media (max-width: 1200px) {
    .section_mid__context {
      .section_mid__context-text_block {
        flex: 1 1 100%;
      }
      .section_mid__context-image_block {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        .section_mid__context-image_block-img {
          @media (orientation: landscape) {
            max-width: 100vh;
          }
        }
      }
    }
  }
}
