@import "../../assets/current_styles/global_variables.scss";

.footer {
  background:  $background_color;

  position: relative;
  max-width: 100vw;
  height: 100%;
  z-index:   1;
  padding-bottom: 20px;

  .line {
    border-bottom: 0.05vh solid $color_bg-cards;
    box-shadow: 1px 1px 5px black;
    margin: calc(1vw + 1rem) 0;
  }


}

