@import "../../../../../../assets/current_styles/global_variables.scss";

.sunshade__block2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(1vw + .5rem);

  .sunshade__block2-left {
    flex: 1 1 40vw;

    .sunshade__block2-left-p {
      margin-bottom: calc(1vw + .5rem);
      @include text_style_h4;
    }

    .sunshade__block2-left-image {
      margin-bottom: calc(2vw + 1rem);
      border: 3px solid gray;
      width: 100%;
    }
  }
  .sunshade__block2-image {
    margin-bottom: calc(2vw + 1rem);
    border: 3px solid gray;
    flex: 1 1 49vw;
  }
}

@media (orientation: landscape) {
  .sunshade__block2 {
    align-items: center;

    .sunshade__block2-left {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .sunshade__block2-left-image {
        max-height: 70vh;
        width: auto;
      }
    }
    .sunshade__block2-image {
      max-width: 40vw;
      aspect-ratio: 1/1.3;
    }
  }
}
