@import "../../../assets/current_styles/global_variables.scss";

.msr-vid {
  .msr-vid__title {
    @include text_style_h1;
    font-style: italic;
    color: $color_yellow;
    text-align: center;
    margin: calc(1vw + 0.5rem);
  }
  .msr-vid__adviсe {
    .msr-vid__adviсe-title {
      text-align: center;
      @include text_style_h3;
      margin-bottom: calc(2vw + 1rem);
      font-style: italic;
    }
    .msr-vid__adviсe-list {
      .msr-vid__adviсe-list-elem {
        list-style: disc;
        margin-left: calc(0.7vw + 1.1rem);
        @include text;
        .msr-vid__inner-container-thumbnail {
          height: 400px;
        }
      }
    }
  }

  .msr-vid__inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(1.4vw + 0.7rem);
    @media (max-width: 1200px) {
      gap: 0;
    }
    .msr-vid__inner-container-index {
      .msr-vid__inner-container-title {
        @include text_style_h4;
        text-align: center;
        padding: calc(1vw + 1rem) 0;
      }
      // .msr-vid__inner-container-thumbnail{}
      .msr-vid__video-content {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        .msr-vid__video {
          border-radius: 4px;
          max-width: 650px;
          width: 100%;
          box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.5),
            -10px 0 10px -5px rgba(0, 0, 0, 0.5),
            10px 0 10px -5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .msr-vid__inner-container {
      flex-direction: column;
    }
  }

  .msr-vid__bottom {
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: calc(2vw + 1rem);
    margin: calc(2vw + 1rem) 0;

    .msr-vid__bottom-text {
      @include text;
      .color-the-text {
        color: $color_yellow;
      }
    }

    .msr-vid__bottom-img {
      box-shadow: 1px 1px 20px black;
      aspect-ratio: 850/720;
    }

    @media (max-width: 990px) and (orientation: landscape) {
      .msr-vid__bottom-img {
        max-width: 100vh;
        aspect-ratio: 850/720;
        margin: 0 auto;
      }
    }

    @media (max-width: 990px) {
      grid-template-columns: 1fr;
    }
  }
}
